@keyframes scaleColor {
    0% {
        transform: translate(-50%, -50%) scale(0.03);
    }
    3% {
        transform: translate(-50%, -50%) scale(0);
    }
    20% {
        transform: translate(-50%, -50%) scale(0);
    }
    40% {
        transform: translate(-50%, -50%) scale(0.04);
    }
    60% {
        transform: translate(-50%, -50%) scale(0.03);
    }
}

@keyframes scaleBorder {
    10% {
        transform: translate(-50%, -50%) scale(0.5);
        background-color: pink;
    }
    16% {
        transform: translate(-50%, -50%) scale(1);
        background-color: pink;
    }
    20% {
        background-color: transparent;
    }
}

@keyframes scaleRotate {
    16% {
        transform: translate(-50%, -50%) scale(1);
    }
    22% {
        transform: translate(-50%, -50%) scale(1);
    }
    33% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    66% {
        transform: translate(-50%, -50%) rotate(5deg);
        border-color: magenta;
    }
    70% {
        opacity: 0;
        border-color: yellow;
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(5deg);
    }
}


.container {
    position: relative;
    height: 100px;
    width: 100px;
    #heart { 
        z-index: 2;
        position: absolute;
        width: 32px;
        height: 32px;
        top: 50%; 
        left: 50%;
        cursor: pointer;
        svg {
            margin-top: 2px;
            #path2417 {
                fill: gray;
            }
        }
        svg.scaleColor {
            animation: scaleColor 1s forwards;
            #path2417 {
                fill: red;
            }
        }
    }   
    #circle {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background-color: pink;
        border: 2px solid pink;
        z-index: 1;
        position: absolute;
        top: 50%;  /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%) scale(0); 
        &.scaleBorder {
            animation: scaleBorder 1s forwards;    
        }
    }
    #particles {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        z-index: 0;
        position: absolute;
        top: 50%;  /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%) /*scale(0)*/;
        &.scaleRotate {
            animation: scaleRotate ease-in-out 1s forwards;    
        }
        .particle {
            width: 3px;
            height: 3px;
            background: blue;
            border-radius: 100%;
            position: absolute;
        }
        #particle1 {
            top: 2px;
            left: 2px;
        }
        #particle2 {
            top: 6px;
            left: 0px;
        }
        #particle3 {
            bottom: 8px;
            left: -2px;
        }
        #particle4 {
            bottom: 4px;
            left: 0px;
        }
        #particle5 {
            bottom: -3px;
            left: 14px;
        }
        #particle6 {
            bottom: -3px;
            left: 18px;
        }
        #particle7 {
            bottom: 8px;
            right: -2px;
        }
        #particle8 {
            bottom: 4px;
            right: 0px;
        }
        #particle9 {
            top: 2px;
            right: 2px;
        }
        #particle10 {
            top: 6px;
            right: 0px;
        }
        #particle13 {
            top: -3px;
            left: 14px;
        }
        #particle14 {
            top: -3px;
            left: 18px;
        }
    }
}